<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="127.0.0.1" />
    <add key="port" value="6110" />
    <add key="nginxserver" value="127.0.0.1"/>
    <add key="nginxpath" value="D:\WorkSpace\github\oeip\ThirdParty\nginx"/>
    <add key="nginxport" value="8011"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>